spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/task_saas
    username: app
    password: app
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true

server:
  port: 8080